@import 'fonts';
@import 'palette';

//fonts
$font-sans-serif: $font-openSans;
$font-serif: $font-bree;
$font-alt: $font-raleway;
$font-alt2: $font-fjalla;

$color-text-dark: $color-gray-800;
$color-text-light: $color-white;

$color-background-primary: $color-white;
$color-background-secondary: $color-gray-50;

$color-brand-primary: $color-emerald-300;
$color-brand-primary-hover: $color-emerald-400;
$color-brand-primary-accent: $color-emerald-100;
$color-brand-primary-text: $color-emerald-600;

$color-action: $color-sapphire-300; 
$color-action-hover: $color-sapphire-200; 

$nav-button-color: #00838F;

//breakpoints
$bp-xs: "(min-width: 480px)";
$bp-sm: "(min-width: 768px)";
$bp-md: "(min-width: 992px)";
$bp-lg: "(min-width: 1200px)";

@mixin default-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;

    @media #{$bp-xs} {
        grid-gap: 2rem;
    }

    @media #{$bp-sm} {
        grid-gap: 2rem;
    }

    @media #{$bp-md} {
        grid-gap: 4rem;
    }

    @media #{$bp-lg} {
        grid-gap: 4rem;
    }
}

@mixin default-grid-item {

    grid-row: span 6;
    grid-column: span 6;

    @media #{$bp-sm} {
        grid-row: span 3;
        grid-column: span 3;
    }

    @media #{$bp-md} {
        grid-row: span 2;
        grid-column: span 2;
    }

    @media #{$bp-lg} {
        grid-row: span 2;
        grid-column: span 2;
    }
}