@import "~styles/variables";
@import "~styles/textures";

trail-card:host {
    @include default-grid-item;

    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    background: $color-background-secondary;   
    text-align: center;

    .trail-card__overlay {
        @include funky;

        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 4;
    }

    .trail-name {
        font-weight: 700;
        font-size: 1.8rem;
        padding: 1rem;
    }

    .trail-card-top {
        transition: 0.1s;
        height: 24rem;
        background-position: center;
        background-size: cover;
     }


    .trail-splash {
        transition: 0.1s;
        display: block;
        font-size: 1.4rem;
        font-style: italic;
        color: $color-gray-400;
        padding: 0 2rem;
        overflow: hidden;
    }

    .trail-card-bottom {
        transition: 0.1s;
        display: flex;
        height: 3rem;
        padding: 0.5rem;
        justify-content: space-between;
        color: $color-gray-400;
        background: $color-gray-100;
    }
    
    .trail-card-middle {
        transition: 0.1s;
        position: relative;
        z-index: 5;
        height: 16rem;
    }

    .trail-stats {
        display: flex;
        align-items: center;
        padding: 0 2rem;
    }

    &:hover {

        .trail-card__overlay {
            transition: 1s;
            opacity: 0.2;
        }
        
        .trail-card-middle {
            transition: 1s;
            height: auto;
        }

        .trail-splash {
            display: none;
            transition: 0.2s;
        }

        .trail-card-top {
            transition: 1s;
            height: 100%;
        }
    }
}
